// * ------------------------------- * \\
//    INTRODUCTION SECTION | SETUP
// * ------------------------------- * \\

// Main Section Wrapper
.intro-section {
    --scroll-length: 1.4;
    height: calc(var(--scroll-length) * 100vh);
    width: 100%;
    position: relative;

    // Sets the opacity of elements
    .intro-content__heading-1,
    .intro-content__heading-2,
    .intro-content__text,
    .services {
        opacity: 1;
        opacity: calc(1 + var(--viewport-y));
    }

    // * --- MEDIA QUERIES --- * \\
    @media only screen and (max-width: $bp-medium) {
        height: calc(var(--scroll-length) * 105vh);
    }
    @media only screen and (max-width: $bp-small-lg) {
        height: calc(var(--scroll-length) * 120vh);
    }
    @media only screen and (max-width: $bp-small) {
        height: calc(var(--scroll-length) * 85vh);
    }
    @media only screen and (max-width: $bp-vsmall-1b) {
        height: calc(var(--scroll-length) * 65vh);
    }
}

// Figure holds image | Setups the scrollout
.figure {
    width: 100%;
    height: 100vh;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    --scale: calc(.8 + (.2 * var(--scroll-length) * var(--visible-y)));
    position: sticky;
    top: 0;
    left: 0;
    margin: 0;
    display: block; 
    overflow: hidden;
    will-change: transform;
    transform: scale(var(--scale));

    &__image {
        display: block;
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        object-position: center center;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba($color-black, 1);
        opacity: calc( var(--visible-y) );
    }
    &__image {
        display: block;
        will-change: transform;
        transform: scale(calc(1 / var(--scale)));
    }
}


// div holds headers & text
.intro-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 35em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: white;
    padding: 2em;
    font-size: 2.5vmin;

    // * --- MEDIA QUERIES --- * \\
    @media only screen and (max-width: $bp-large) {
        margin: 0 15rem;
    } 
    @media only screen and (max-width: $bp-medium-1) {
        margin: 0 10rem;
    }
    @media only screen and (max-width: $bp-medium) {
        margin: 0 10rem;
    }
    @media only screen and (max-width: $bp-small) {
        margin: 0 5rem;
    }
    @media only screen and (max-width: $bp-vsmall-5) {
        margin: 0 3rem;
    }

    * {
        text-shadow: 0 0 4vmin rgba($color-black, 0.25);
    }
    // Grids & Flexbox
    // Headings & Text
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    padding-top: 10%;
    &__heading-1 {
        font-size: 2.75em;
        font-weight: 500;
        margin: 0;
    }
    &__heading-2 {
        font-size: 1.25em;
        font-weight: 400;
        text-transform: lowercase;
        margin-bottom: .5em;
    }
    &__text {
        font-weight: 300;
        grid-row: 2 / 3;
        line-height: 1.5;
        @include underline;
    }
    &__heading-1,
    &__heading-2,
    &__text {
        text-align: center;
    }
}
.char {
    display: inline-block;
    opacity: calc( 
      1 + ( 
        ( var(--viewport-y) * 1.5 )
        - var(--char-percent)
      )
    );
  }