// * ------------------------------- * \\
//          HEADER | SETUP
// * ------------------------------- * \\

.header {
    height: 100vh;
    position: relative;
    background: $color-gray-1;

    &__img {
        position: absolute;
        max-height: 100vh;
        z-index: 1;
    }
    &__img-bk {
        height: 100vh;
        background-image: url(../img/anthem-1.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        -webkit-clip-path: polygon(0 0, 54% 0, 30% 100%, 0% 100%);
        clip-path: polygon(0 0, 54% 0, 30% 100%, 0% 100%);
    }
    &__heading-1 {
        position: absolute;
        top: 22%;
        left: 68%;
        font-size: 3rem;
        font-weight: 400;
        z-index: 2;

        &::after {
            display: block;
            height: .2rem;
            background-color: $color-primary;
            content: "";
            width: 10rem;
            margin: 0 auto;
            margin-top: 2.4rem;
        }
    }
    &__heading-2 {
        position: absolute;
        top: 32%;
        left: 62%;
        font-size: 8.6rem;
        letter-spacing: 1.6rem;
        text-transform: uppercase;
        z-index: 2;
    }
    &__button {
        position: absolute;
        top: 45%;
        left: 71%;
        z-index: 1;
        &:hover {
            color: $color-white;
        }
    }
}

// * ------------------------------- * \\
//      INTRODUCTION SECTION | SETUP
// * ------------------------------- * \\
