// * ------------------------------- * \\
//          HEADER | SETUP
// * ------------------------------- * \\

.header {
    height: 100vh;
    position: relative;
    background: $color-gray-1;

    // * --- MEDIA QUERIES --- * \\
    @media only screen and (max-width: $bp-small) {
        height: 80vh;
    }
    @media only screen and (max-width: $bp-vsmall-1b) {
        height: 70vh;
    }
    @media only screen and (max-width: $bp-vsmall-5) {
        height: 50vh;
    }

    &__img {
        position: absolute;
        height: 100vh;
        max-width: 100%;
        z-index: 1;

        @media only screen and (max-width: $bp-small) {
            height: 80vh;
        }
        @media only screen and (max-width: $bp-vsmall-1b) {
            height: 70vh;
            max-width: 130%;
        }
        @media only screen and (max-width: $bp-vsmall-5) {
            height: 50vh;
            max-width: 150%;
        }
    }
    &__img-bk {
        height: 100vh;
        width: 100%;
        max-width: 100%;
        background-image: url(../img/anthem-1.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        -webkit-clip-path: polygon(0 0, 54% 0, 30% 100%, 0% 100%);
        clip-path: polygon(0 0, 54% 0, 30% 100%, 0% 100%);
        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-medium) {
            -webkit-clip-path: polygon(0 0, 57% 0, 39% 100%, 0% 100%);
            clip-path: polygon(0 0, 57% 0, 39% 100%, 0% 100%);                    
        }
        @media only screen and (max-width: $bp-small) {
            height: 80vh;
        }
        @media only screen and (max-width: $bp-vsmall-1b) {
            height: 70vh;
        }
        @media only screen and (max-width: $bp-vsmall-5) {
            height: 50vh;
        }
    }
    &__heading-1 {
        position: absolute;
        top: 22%;
        left: 68%;
        font-size: 3rem;
        font-weight: 400;
        z-index: 2;
        @include underline; // Text underline
        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-largest-4) {
            left: 65%;
        } 
        @media only screen and (max-width: $bp-medium-1) {
            left: 63%;
        }
        @media only screen and (max-width: $bp-medium) {
            left: 62%;
        }
        @media only screen and (max-width: $bp-small) {
            font-size: 2rem;
            left: 66%;
        }
        @media only screen and (max-width: $bp-vsmall-1) {
            font-size: 1.6rem;
        }
        @media only screen and (max-width: $bp-vsmall-2) {
            font-size: 1rem;
            left: 69%;
        }
        @media only screen and (max-width: $bp-vsmall-5) {
            left: 67%;
        }
    }
    &__heading-2 {
        position: absolute;
        top: 32%;
        left: 62%;
        font-size: 8.6rem;
        letter-spacing: 1.6rem;
        text-transform: uppercase;
        z-index: 2;
        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-largest-4) {
            left: 56%;
        } 
        @media only screen and (max-width: $bp-medium-1) {
            font-size: 7rem;
        }
        @media only screen and (max-width: $bp-medium) {
            font-size: 6.5rem;
            left: 55%;
        }
        @media only screen and (max-width: $bp-small) {
            font-size: 4rem;
            left: 60%;
        }
        @media only screen and (max-width: $bp-vsmall-1) {
            font-size: 3rem;
        }
        @media only screen and (max-width: $bp-vsmall-2) {
            font-size: 2rem;
            left: 61%;
        }
        @media only screen and (max-width: $bp-vsmall-5) {
            font-size: 1.1rem;
        }
    }
    &__button {
        position: absolute;
        top: 45%;
        left: 71%;
        z-index: 1;
        &:hover {
            color: $color-white;
        }
        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-medium-1) {
            left: 67%;
        }
        @media only screen and (max-width: $bp-medium) {
            left: 68%;
        }
        @media only screen and (max-width: $bp-vsmall-1) {
            top: 40%;
            left: 65%;
        }
        @media only screen and (max-width: $bp-vsmall-2) {
            top: 35%;
            left: 68%;
        }
        @media only screen and (max-width: $bp-vsmall-5) {
            
        }
    }
}

// * ------------------------------- * \\
//      INTRODUCTION SECTION | SETUP
// * ------------------------------- * \\
